.navbar-brand {
    font-size: 14px;
}

.form-search {
    width: 100%;
    border-color: #a3a7a7;
    background-color: #dddfdf;
    color: white;
    overflow: hidden;
}

.form-search:focus {
    border-color: #a3a7a7;
    background-color: #dddfdf;
    color: white;
    overflow: hidden;
}

.font-sm {
    font-size: 14px;
}

.font-lg {
    font-size: 24px;
}

.text-cream {
    color: #9e7540 !important;
}

.bg-cream {
    background-color: #9e7540 !important;
}

.t-0 {
    top: 0 !important;
}

.l-0 {
    left: 0 !important;
}

.r-0 {
    right: 0 !important;
}

@media screen and (min-width: 1000px) {
    .form-search {
        width: 220%;
    }
    .r-0 {
        right: -260px !important;
    }
}

/* Card Style */
.card-title {
    font-size: 20px;
}
.card-text {
    font-size: 16px;
}
.card-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* button style */

.btn-cream {
    background-color: #9e7540;
    border-color: #9e7540;
    color: white;
    text-transform: uppercase;
}
.btn-cream:hover {
    background-color: #8a693e;
    border-color: #8a693e;
    color: white;
}